INI
[Unit]
Description=Iotc webcam stream
After=syslog.target

[Service]
ExecStart=/usr/local/bin/mjpg_streamer -i "/usr/local/lib/mjpg-streamer/input_uvc.so /dev/video0 -r 640x360 -f 15" -o "/usr/local/lib/mjpg-streamer/output_http.so -p 9090 -w /home/pi/mjpg-streamer/mjpg-streamer-experimental/www"
# Requires systemd version 211 or newer
RuntimeDirectory=webstream
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
[Unit]
Description=Iotc webcam stream
After=syslog.target
 s
[Service]
ExecStart=/usr/local/bin/mjpg_streamer -i "/usr/local/lib/mjpg-streamer/input_uvc.so /dev/video0 -r 640x360 -f 15" -o "/usr/local/lib/mjpg-streamer/output_http.so -p 9090 -w /home/pi/mjpg-streamer/mjpg-streamer-experimental/www"
# Requires systemd version 211 or newer
RuntimeDirectory=webstream
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target